{{#file-dropzone class="upload__element" ondrop=(action "onDrop") name=queueName as |dropzone queue|}}
  {{#if dropzone.active}}
    <label class="upload__element__label">
      <i class="vi vi-paperclip"></i>
      {{#if dropzone.valid}}
        <small>{{helpTextDrop}}</small>
      {{else}}
        <small>{{helpTextFileNotSupported}}</small>
      {{/if}}
   </label>
  {{else if queue.files.length}}
   {{uploadingMsg}}
  {{else}}
    <label class="upload__element__label">
      <i class="vi vi-paperclip"></i>
      <span>{{title}}</span>
      {{#if dropzone.supported}}
        <small>{{helpTextDragDrop}}</small>
      {{/if}}
      {{#file-upload name=queueName
         accept=accept
         multiple=multiple
         onfileadd=(action "upload")
      }}
      {{/file-upload}}
    </label>
  {{/if}}
{{/file-dropzone}}
{{#if hasErrors}}
  {{#wu-alert isError=true}}
    {{#each uploadErrorData as |data|}}
      <li> Fout bij het opladen van {{data.filename}}.
        {{#if data.error}}
          (Foutmelding: {{data.error}})
        {{/if}}
      </li>
    {{/each}}
  {{/wu-alert}}
{{/if}}
